<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

    <title>Eat Da Burger!</title>

</head>

<body>

<!--<div class="container">
    <div class="row" id="title">
       &lt;!&ndash; <a href='https://wall.alphacoders.com/big.php?i=300228'>
            <img src='https://images6.alphacoders.com/300/300228.jpg'></a>&ndash;&gt;
        &lt;!&ndash;<img id="burger_icon"src="/assets/img/deluxe.png" alt="">&ndash;&gt;
    </div>-->

{{{ body }}}

<!--</div>-->

</body>

</html>